body {
  margin: 0;
}

.section-1 {
  width: 100%;
  height: fit-content;
  background-color: #d6e8e0;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
}

#logo {
  margin-top: 15px;
  height: 50px;
  align-self: center;
}

.info-container {
  width: 70%;
  height: 70vh;
  display: flex;
  margin-left: 15%;
  justify-content: space-between;
}

.info-container .info {
  width: 60%;
  align-items: center;
  margin-top: 50px;
  z-index: 999;
}

.info-container .info h2 {
  width: 100%;
  font-size: 3vw;
  font-family: Inter, sans-serif;
  font-weight: 900;
}

.info-container .info h3 {
  width: 100%;
  font-size: 1.5vw;
  font-family: Inter, sans-serif;
  margin-top: -25px;
  font-weight: 500;
}

.info-container .info h4 {
  width: 100%;
  font-size: 1vw;
  font-family: Inter, sans-serif;
  font-weight: lighter;
}

.info-container .info .send-mail {
  width: 100%;
  display: flex;
  height: 50px;
}

.info-container .info .send-mail #email {
  width: 80%;
  height: 100%;
  border: none;
}

.info-container .info .send-mail button {
  width: 20%;
  height: 52px;
  border: none;
  background-color: #728bbb;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.info-container .telephone img {
  position: relative;
  height: 100%;
  z-index: 999;
}

.design-svg-1 {
  width: 100%;
  height: 20vh;
  position: relative;
}

.design-svg-1 img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}

.section-2 {
  margin-top: 10vh;
  margin-left: 10%;
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.section-2 img {
  width: 45%;
}

.section-2 .text {
  width: 40%;
}
.section-2 h3 {
  width: fit-content;
  font-size: 3vw;
  font-family: Inter, sans-serif;
  font-weight: 900;
  line-height: 0;
  color: #13367b;
  position: relative;
}

.section-2 .l-1::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0px;
  bottom: -20px;
  width: 100%;
  height: 2vh;
  background-color: #f2f0b8;
}

.section-2 .l-2::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0px;
  bottom: -20px;
  width: 100%;
  height: 2vh;
  background-color: #f2d0d7;
}

.section-2 .l-3::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0px;
  bottom: -20px;
  width: 100%;
  height: 2vh;
  background-color: #d6e8e0;
}

.section-2 p {
  width: 100%;
  font-family: Inter, sans-serif;
  font-size: 1.2vw;
  font-weight: 900;
}

.section-3 {
  position: relative;
}

.section-3 .title {
  width: 100%;
}

.section-3 .title h2 {
  font-family: Inter, sans-serif;
  font-size: 3vw;
  color: #13367b;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  margin-top: 100px;
}

.section-3 .title h2::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0px;
  bottom: 5px;
  width: 100%;
  height: 2vh;
  background-color: #f2d0d7;
}

.section-3 .svg {
  z-index: -1;
  position: absolute;
  top: 200px;
  width: 100%;
}

.section-3 .svg2 {
  display: none;
}

.section-3 .container {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
  justify-content: space-between;
}

.section-3 .container img {
  height: 250px;
}

.section-3 .container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-3 .container .item h3 {
  font-family: Inter, sans-serif;
  font-size: 2vw;
  color: #13367b;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.section-3 .container .item h3::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0px;
  bottom: 5px;
  width: 100%;
  height: 2vh;
  background-color: #f2d0d7;
}

.section-3 .container .item p {
  width: 15vw;
  font-family: Inter, sans-serif;
  font-size: 1.2vw;
  font-weight: 900;
}

.logo2{
  margin-top: 30vh;
}

@media (max-width: 1100px){
  .section-1{
    width: 100vw;
  }
  .info-container{
    display: block;
    height: fit-content;
  }
  .info-container .info {
    width: 100%;
  }
  .info-container .info h2 {
    font-size: 34px;
  }
  
  .info-container .info h3 {
    font-size: 24px;
  }
  
  .info-container .info h4 {
    font-size: 18px;
  }
  .info-container .telephone{
    width: 100%;
    display: flex;
  }
  .info-container .telephone img {
    height: 60vh;
    margin: 0 auto;
    margin-top: 5vh;
  }

  .section-3 .container {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
  }

  .section-3 .container img {
    height: 20vh;
  }

  .section-3 .title h2 {
    font-size: 4.5vw;
    margin-top: 40px;
  }

  .section-3 .container .item h3 {
    font-size: 3.5vw;
    margin-top: 20px;
  }
  
  .section-3 .container .item p {
    width: 35vw;
    font-family: Inter, sans-serif;
    font-size: 2vw;
    font-weight: 900;
    margin-bottom: 50px;
  }

  .section-3 .svg2 {
    z-index: -1;
    display: block;
    position: absolute;
    width: 100vw;
    bottom: 0;
  }
}

@media (max-width: 767px){
  .info-container .info .send-mail button {
    font-size: 3vw;
  }
  .section-2 {
    display: block;
    margin-top: 5vh;
  }

  .section-2 img {
    width: 100%;
  }

  .section-2 .text {
    width: 100%;
  }

  .section-2 p {
    font-size: 4vw;
  }

  .section-2 h3 {
    width: fit-content;
    font-size: 8vw;
  }

  .section-3 .title h2 {
    font-size: 7vw;
    margin-top: 40px;
  }
  .section-3{
    overflow-x: hidden;
    border: 1px solid red;
  }
  .section-3 .svg {
    height: 400px;
    width: auto;
  }

  .section-3 .svg2 {
    height: 400px;
    width: auto;
  }
  
  .section-3 .container img {
    height: 100%;
  }

  .section-3 .container .item h3 {
    font-size: 7vw;
  }
  
  .section-3 .container .item p {
    width: 80vw;
    font-family: Inter, sans-serif;
    font-size: 5vw;
    font-weight: 900;
    margin-bottom: 50px;
  }
  .logo2{
    border: 1px solid blue;
    width: 20vw;
    height: 100%;
  }
}